<div class="container">
	 
	<% 	$album_info = album_info
      $track_list = $album_info.track_list
 	%>

	<div class="row">
	 	<div class="col-sm-3 ">
	 		<img src="<%= $album_info.img_link %>" class="img-rounded" alt="No image available" width="240" height="220">
    </div>
    <div class="col-sm-7 ">
     	<h1><%=  $album_info.name %></h1>
     	<h5><%=  $album_info.artist %></h5>
     	<p><%= $album_info.wiki  %></p>
  	</div>
	</div>
	
	<h2>Tracks list</h2>

  <div class="list-group">
  	<% if $track_list.length > 0  %>
	   	<% $track_list.each do |x| %>
	   		<% url = URI.encode("/track?name="+ x.name + "&artist="+ x.artist+"&id="+x.id ) %>
         <a href= "<%= url %>" class="list-group-item">
	   		  <h4 class="list-group-item-heading"><%= x.name %></h4>
		      <p class="list-group-item-text">Duration: <%= x.duration %></p>
		    </a>
    	<% end %>
   	<% else %>
   		<p> Track list not available </p>
   	<% end %>
  </div>
</div>

